<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.kim.entity.SysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, avatar, email, city, created, updated, last_login, statu,phone
  </sql>

  <select id="getNavMenuIds" resultType="java.lang.Long">

    select distinct rm.menu_id
    from sys_user_role ur
    left join sys_role_menu rm
    on ur.role_id = rm.role_id
    where ur.user_id = #{userId}
    </select>

  <select id="listByMenuId" resultMap="BaseResultMap">
    select distinct su.* from
    sys_user_role sur
    left join sys_role_menu srm on  sur.role_id = srm.role_id
    left join sys_user su  on sur.user_id = su.id
    where srm.menu_id = #{menuId}
    </select>
</mapper>